
@font-face {
    font-family: 'Solway';
    src: url('./assets/font/Solway-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: var(--color-font);
    font-family: 'Solway', Arial;
}


.color1 {color: #1b1606;}
.color2 {color: #363815;}
.color3 {color: #5a7dd1;}
.color4 {color: #e3d2ea;}
.color5 {color: #f3f3f3;}


.color1 {color: #cfd9ea;}
.color2 {color: #f3f3f3;}
.color3 {color: #1e202f;}
.color4 {color: #79787e;}
.color5 {color: #e5e5e5;}


body{
    background: var(--color-fondo);
    overflow-x: hidden;
}

/* 
--color-nav:#082032;
--color-font:#B3B3B3;
--color-general:#204D6D;
--color-aside:#214D6D;
--color-fondo:#03243C; */
:root{
--color-nav:#1e202f;
--color-font:#f3f3f3;
--color-general:#1e202f;
--color-aside:#1e202f;
--color-fondo:#060606;

}

nav {
    z-index: 1;
    display: flex;
    position: fixed;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 7.5vh;
    background-color: var(--color-nav);
}
.imgnav{
    margin: 0;
    width: 7%;
    height: 100%;
}
    .imgnav img{
    width: 100%;
    height: 100%;
}
.searchnav{
    height: 100%;
    width: 40%;
}
    .searchnav form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% fit-content;
        height: 100%;
    }
    .searchnav form button{
        border: 0;
        width: 10%;
        height: 70%;
    }
    .searchnav form button img{
        width: 30%;
       
    }
    .searchnav form #btninav{
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
       
    }
    .searchnav form #btninav:hover{
        cursor: pointer;
    }
    .searchnav form #btndnav{
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
       
    }
    .searchnav form #btndnav:hover{
       cursor: pointer;
    }
    
    #buscadornav{
        width: 70%;
        height: 70%;
        border: 0;
        padding-left: 0.5vw;
        font-size: 2.4vh;
        color: var(--color-fondo);
    }
    #postinput{
        color: var(--color-fondo);
        min-height: 7vh;
        max-height: 12vh;
    }

.usuario{
    width: 5%;
    height: 100%;
}
    .usuario img{
   border-radius: 50%;
    height: 80%;
    width: 80%;
}

.optionsnav{
    width: 45%;
    height: 2.5vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
    .optionsnav a{
        font-size: 2vh;
        height: 100%;
        text-decoration: none;
        color: white;
        align-content: center;
    }

    .optionsnav a:hover{
        border-bottom: 1px solid white;
        color:#979dcc ;
    }

    
.usuario{
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

#dropdown-menu {
  position: absolute;
  top: 9vh; 
  left: 7vw;
  background-color: var(--color-aside);
  border: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem;
  display: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

#dropdown-menu li {
  padding: 0.25rem 0.5rem;
}

#dropdown-menu li:hover {
  background-color: #f0f0f0;
}

#dropdown-menu.show {
  display: block;
}

aside{
    width: 20%;
    height: 60vh;
    background: var(--color-aside);
    margin: 1.5vh;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
aside .divcontenido{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: 1px solid #E0E0E0;
    justify-content: center;
    align-items: center;
    height: 45%;
    background:var(--color-aside) ;
    width: 45%;
    
}

.imgaside{
   
    height: 50%;
    width: 90%;
    
}
.imgaside a{
    height: 45%;
    
}
.imgaside a img{
    width: 100%;
    height: 100%;
}
.textaside{
    width: 90%;
}
.textaside a{
    text-decoration: none;
    color: white;
    text-align: justify;
   margin-top: 1vh;
    height: 100%;
    width: 80%;
}
.textaside a h4{
    height: 90%;
}

.textaside a h4,p{
    font-size: 1.3vh;
}
.main{
    padding-top: 8vh;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: flex;
}
main{
    margin: 1.5vh;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#publishBtn{
    background: var(--color-general);
    width: 20%;
    font-size: 2vh;
    border-radius: 10px;
    margin: auto;
}
#contentPosted{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.publish {
  background: var(--color-general);
  width: 97%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  gap: 1vh;
}
.publish-top {
  display: flex;
  align-items: center;
  gap: 1vw;
}
#publishusr {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#publishusr img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.inputPost {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.inputPost textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 100%;
  padding: 1.2vh;
  max-width: 100%;
  resize: none;
  font-size: 0.7em;
}
.iconPost {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#fileInput{
    display: none;
    visibility: hidden;
}

.iconPost a, .iconPost label{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: 15%;
  height: auto;
}
.iconPost a img, .iconPost label img {
  width: 30%;
  height: auto;
}
.iconPost p , .iconPost label p {
  color: whitesmoke;
  font-size: 1.7vh;
  text-align: center;
}

.usercontentPosted{
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    width: 97%;
    background: var(--color-general);
    border-radius: 10px;
    padding: 1.5vh;
    gap: 1vh;
}

.usercontentPosted{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user{
    width: 90%;
    display: flex;
    height: 5vh;
}
.user img{
    border-radius: 50%;

    width : auto;
    height : auto;
}
.user p {
    width: 70%;
    padding-left: 0.5vw;
    height: 60%;
    display: flex;
    align-items: center;
    font-size: 2vh;
}

.imagecontent{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.imagecontent p{
    width: 90%;
    padding-bottom: 1vh;
    font-size: 1.8vh;
}

.imagecontent img{
    height: 80%;
    width:90%;
    min-width: 90%;
    border-radius: 10px;
    
}
.reactions{
    width: 90%;
    display: flex;
    border-top: 1px solid rgba(163, 163, 163, 0.616);
    padding-top: 0.8vw;
    justify-content: space-between;
}
.reactions a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.reactions img{
    width: 60%;
    height: 60%;
}
.reactions p{
    height:30%;
    font-size: 1.7vh;
    color: white;
}
.reactions

.contacts-reels{
   width: 19%;

}

.contacts{
    background: var(--color-general);
    border-radius: 10px;
    margin-top: 1.7vh;
    width: 100%;
    height: 30vh;
}
.contacts .contacto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    
}

.contacto {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.contacto-add{
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.contacto-img{
    width: 20%;
    height: 100%; 
    align-items: center;
    justify-content: center;
    display: flex;
}
.contacto-img img{
    width: 60%;
    border-radius: 50%;
   
}
.contacto-info{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}
.contacto-info p{
    font-size: 1.8vh;
}
#reels{
    background: var(--color-general);
    margin-top: 1.5vh;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    height: 23vh;
    border-radius: 10px ;

}
.reel{
    width: 100%;
    display: flex;
    height: 70%;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
}
.reel video{
    width: 30%;
    height: 100%;
    border: 1px solid white;
    border-radius: 16px;
}

.like-btn,.liked{
    filter: hue-rotate(200deg);
}
.like-btn,.liked p{
    color:#cfd9ea;
}
