.user {
    width: 90%;
    display: flex;
    gap: 1vh;
    height: 6.5vh;

}

.user img {
    border-radius: 50%;
    height: 6.5vh;
    margin-left: 1.5vw;
}

.user .textdatauser {
    width: 40%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.textdatauser h3 {
    font-size: 2.3vh;
    height: 50%;
    margin: 0;
    width: 60%;
}

.textdatauser p {
    color: rgb(134, 131, 131);
    font-size: 1.5vh;
    height: 49%;
    width: 50%;
}
.multimedia{
    width: auto;
    max-width: 97%;

}

.multimedia img{
    width: 100%;
}

.likes{
    margin-top: 1px solid var();
    display: flex;
}
.likes p{
    font-size: 1.5vh;
    width: 30%;
    margin-left: 1rem;
}
.user .textdatauser {
    width: 40%;
}


.ellipsis{
    width: 9%;
    height: 100%;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
}