@font-face {
    font-family: 'Solway';
    src: url('../assets/font/Solway-Regular.ttf');
}


#container {
    background-color: var(--color-fondo);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Solway', Arial;

}
:root{
    --color-nav:#1e202f;
    --color-font:#f3f3f3;
    --color-general:#1e202f;
    --color-aside:#1e202f;
    --color-fondo:#060606;
}

nav {
    z-index: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 7.5vh;
    background-color: var(--color-nav);
}
#imgnav{
    margin: 0;
    width: 7%;
    height: 100%;
}
#imgnav img{
    width: 100%;
    height: 100%;
}

#optionsnav {
    width: 100%;
    font-size: 2.4vh;
    height: 2.5vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#optionsnav > a {
    color: var(--color-font);
    height: 100%;
    text-decoration: none;
    align-content: center;
}

#optionsnav > a:hover {
    border-bottom: 1px solid white;
    color:#979dcc ;
}

#signupheader {
    display: flex;
    width: 500px;
    height: auto;
    color: var(--color-font);
    justify-self: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-aside);
    margin-top: 5px;
}
#signupheader > h1 {
    font-size: 40px;
}
#signupheader > p {
    margin-top: 25px;
    margin-bottom: 5px;
}

#signupdiv {
    display: flex;
    width: 400px;
    height: 400px;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--color-aside);
    border-radius: 15px;
    margin-top: 40px;
}

#signup {
    display: flex;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}


form > div {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
}

form > div > label {
    color: var(--color-font);
    font-weight: bold;
    padding-top: 20px;
}

form > div > input {
    width: 250px;
}

#signupbtn > p {
    color: var(--color-font);
}

#signupbtn > p > a {
    color: #7883d8;
}

#signupbtn > button {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
} 

footer {
    display: flex;
    background-color: var(--color-nav);
    margin-top: 160px;
    width: 100%;
    height: 50px;
    color: var(--color-font);
    text-align: center;
    justify-content: center;
    align-items: center;
}