* {
  padding: 0%;  
  margin: 0%;
}
.app-container {
  display: flex;      /* siempre fila */
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #1e1e2f;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

/* RESPONSIVE MÓVIL / TABLET */
@media (max-width: 900px) {
  .main-content {
    width: 100%;
    padding: 1.5rem;
  }
}
