@font-face {
    font-family: 'Solway';
    src: url('./assets/font/Solway-Regular.ttf');
}

:root {
  font-family: 'Solway', Arial;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
 
}

#root{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Solway', Arial;
    background-color: var(--color-bg);
    color: var(--color-text);
    
    display: grid;
    grid-template-areas:
      "nav main contacts"
      "nav main anuncios"
      "nav main anuncios"
      ;
      grid-template-columns:20% 60% 20%;
      grid-template-rows: 100vh;
    ;
}


body {
  margin: 0;
  padding: 0;
}

