.usersDiv {
    /* border: 1px solid green; */
    margin: 1rem;
    padding: 1rem;
}

.usersDiv .user {
    padding: 0.1rem;
    width: 100%;
}

.usersDiv .user img {
    width: 15%;
}

.usersDiv .user .textdatauser {
    width: 100%;
}

.usersDiv {
    background: var(--color-nav);
    width: 100%;
    border-radius: 10px;
    margin: 1rem;

}